body {
    margin: 0;
    padding: 0;
}

.site {
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr 50px;
    grid-template-columns: 2fr [body] 8fr;
    grid-gap: 10px;

    
    
}


.body{
    border: solid 1px rgb(153, 223, 156);
    background-color: rgb(4, 160, 38);
    grid-column-start: body;
}

