body {
    margin: 0;
    padding: 0;
}

.grid > div{
    border: solid 1px #999;
    background-color: #ccc;

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*
    une largeur fige de 200px et le reste fractionné
    
    */
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /*
        grid auto flow permet de remplir les colonnes en premier
    */
    grid-auto-flow: column;
}
.child{
/*
  Position de l'enfant child
*/
 background-color: #999!important;

}

.child2{
    /*
      Position de l'enfant child
    */
        /*
        grid-column-start: 2;
        grid-column-end: span 1;
        */
        grid-column: 2 / span 1;
        /*
        grid-row-start: 1;
        grid-row-end: 3;
        */
        grid-row: 1 / span 1; 
    }