body {
    margin: 0;
    padding: 0;
}

.grid > div{
    border: solid 1px #999;
    background-color: #ccc;

}
.site {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px;
    grid-template-areas: 
     "header header"
     "sidebar body"
     "footer footer";
     
     justify-items: center;
     align-items: center;
     
    
    
}

.header{
    grid-area: header;
    border: solid 1px rgb(153, 153, 153);
    background-color: #ccc;
    height: 50px;
    width: 400px;

}

.footer{
    grid-area: footer;
    border: solid 1px #999;
    background-color: #ccc;

}

.body{
    grid-area: body;
    border: solid 1px rgb(153, 223, 156);
    background-color: rgb(4, 160, 38);
    width: 200px;
    justify-self: start;
    align-self: start;
}

.sidebar{
    grid-area: sidebar;
    border: solid 1px rgb(52, 80, 241);
    background-color: rgb(11, 226, 226);
}

